<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading rounded">Most Viewed</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 book-overview"  *ngFor = "let mostViewed of mostViewedBooks">
                    <div class="row">
                        <div class="col-md-4">
                            <img [src]="mostViewed.imagePath" 
                            alt="{{ mostViewed.name }}" class="img-responsive" 
                            style="max-width: 70px;">
                        </div>
                        <div class="col-md-8">
                            <h6 class="list-group-item-heading">{{ mostViewed.name }}</h6>
                            <p class="list-group-item-text">{{ mostViewed.author }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>