<div class="container-fluid">
    <div class="row right-panel">
        <!-- <div class="panel panel-default"> -->
        <div class="card">
            <div class="card-header panel-heading">Feedback</div>
            <div class="card-body">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</div>
