<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <app-index-new-arrival-list></app-index-new-arrival-list>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-index-top-rated-list></app-index-top-rated-list>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-index-most-viewed-list></app-index-most-viewed-list>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <app-signup></app-signup>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-index-feedback-list></app-index-feedback-list>
                </div>
            </div>
        </div>
    </div>
</div>